/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Fontawesome */
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

/* Custom styles */
@import 'myStyle.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
