:root{
    --my-backgroud-body-color: #e5e7eb;
    --my-backgroud-color: white;
}

.roboto-font {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.show-custom-devices {
    @apply sm:landscape:hidden md:portrait:block lg:landscape:block
}

.hide-custom-devices {
    @apply hidden sm:landscape:block md:portrait:hidden lg:landscape:hidden
}

.bg-custom-body {
    background-color: var(--my-backgroud-body-color);
}

.bg-custom-primary {
    background-color: var(--my-backgroud-color);
}

.btn-custom-success {
    @apply bg-green-600 enabled:hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none disabled:cursor-not-allowed disabled:opacity-50;
}

.btn-custom-danger {
    @apply bg-red-600 enabled:hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none disabled:cursor-not-allowed disabled:opacity-50;
}

.btn-custom-info {
    @apply bg-blue-600 enabled:hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none disabled:cursor-not-allowed disabled:opacity-50;
}

.btn-custom-disabled {
    @apply focus:outline-none cursor-not-allowed opacity-50;
}

